/*******************
UTILITIES
********************/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	background-color: #ffff7f;
}

body{
	height: 100%;
	width: 100%;
}

.canvas{
	height: 100%;
	width: 100%;
}

a{
	text-decoration: none;
	color: black;
}

ul li {
	display: inline;
}

/*For testing*/
.none{
	display: none;
}

/*---------------------------------------------------------------------------------
MAIN PAGE - GROUPS AND SQUADS
---------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
   Div: Groups Canvas - Contains Back gound image - zindex 100 = main page
---------------------------------------------------------------------------------*/

.groups_canvas{
	width: 100%;
	min-height: 100%;
	position: relative;
	top: 0;
	left: 0;
	/*outline: solid 2px black;*/
	z-index: 100;
	margin: 0;
	
	/*Set the background image*/
	background: url(../images/wcbg2.jpg) no-repeat; 
  	-webkit-background-size: 1366px 643px;
  	-moz-background-size: 1366px 643px;
  	-o-background-size: 1366px 643px;
  	background-size: 1366px 643px;


  	/*Background opacity*/
}

/*---------------------------------------------------------------------------------
   Div: Groups Container - Groups
---------------------------------------------------------------------------------*/
/*Container for groups that spans the whole page*/
.groups_container{
	width: 100%;
	min-height: 643px; /*578px with 10% heading*/
	position: relative;
	display: block;
	top: 0px;/*Heder height 65px*/
	left: 0;
	outline: solid black 2px;
	padding: 10px;
}

/*---------------------------------------------------------------------------------
   Groups 
---------------------------------------------------------------------------------*/
/*Generic Outline for groups A to H*/
.group{
	position: absolute;
	display: inline-block;
	/*border: solid red 2px;*/
	width: 380px;
	height: 145px;

}

#groupA{
	
	top: 20px;
	left: 20px;
}

#groupB{
	top: 175px;
	left: 20px;
}

#groupC{
	top: 330px;
	left: 20px;
}

#groupD{
	top: 485px;
	left: 20px;
}

#groupE{
	
	top: 20px;
	right: 20px;
}

#groupF{
	top: 175px;
	right: 20px;
}

#groupG{
	top: 330px;
	right: 20px;
}

#groupH{
	top: 485px;
	right: 20px;
}

/*---------------------------------------------------------------------------------
   Inside Groups Div
---------------------------------------------------------------------------------*/
/*---------------------------------------
   Groups Head A- H
----------------------------------------*/
/*change class name back after testing*/
.groupName{
	height: 35px;
	width: 100%;
	border-bottom: 1px solid green;
	color: white;
	padding: 5px;
	text-align: center;
}

/*Overall text for group*/
.groupName > p{
	font-size: 1.4em;
	color:green;
	font-weight: 700;
	font-family: 'Merienda', cursive;
}

/*May need to make an id*/
.groupName > p > span{
	color: darkblue;
}

/*-----------------------------------------
   Groups Body: Li positioning ;
-------------------------------------------*/

/*table body and ul*/
.group_teams{
	height: 120px;
	width: 100%;
	/*border: solid 2px red;*/
	position: relative;
}

/*overall style for team li*/
.team{
	width: 50%;
	height: 55px;
	/*border: solid 2px blue;*/
	position: absolute;
}

/*Hover styling*/
.team:hover{
	cursor: pointer;
	border-radius: 20px;
	border: 1px solid darkgrey;
	background: #cce5cc;
}

/*team one li position*/
.t1{
	top: 3px;
	left: 0;
}

/*team two li position*/
.t2{
	top: 3px;
	right: 0;
}

/*team three li position*/
.t3{
	bottom: 0px;
	left: 0;
}

/*team 4 li position*/
.t4{
	bottom: 0px;
	right: 0;
}

/*-----------------------------------------
   Groups Body: Team logo and names ;
-------------------------------------------*/
/*Set the dimensions and position for the team logo img*/
.team_Logo{
	width: 55px;
	height: 45px;
	margin: 3px 0 0 5px;
	display: inline;
	/*border: dashed 2px black;*/
	float: left;
}


/*Set the dimensions and position for the team name paragraph*/
.teamname{
	display: inline;
	height: 45px;
	width: 120px;
	margin: 3px 0 0 3px;
	/*border: dashed 2px red;*/
	float: right;
	font-size: 1em;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	color: darkblue;
	font-family: 'Merienda', cursive;
}

/*---------------------------------------------------------------------------------
  SECOND PAGE - TEAM SQUADS, PLAYERS, and PLAYER STATS
---------------------------------------------------------------------------------*/
.squad_canvas{
	width: 100%;
	min-height: 100%;
	/*position: relative;
	top: 0;
	left: 0;
	border: solid 2px black;*/
}

.squad_container{
	width: 100%;
	min-height: 643px;
	/*position: relative;
	top: 0;
	left: 0;*/
	/*outline: solid black 2px;*/
	padding: 10px;
}

/*-------------------------------------------------------------------------------
  Team Header : contains logo and team name 
---------------------------------------------------------------------------------*/
.squad_header{
	/*position: relative;*/
	width: 50%;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	/*top: 0;
	left: 0;*/
	outline: solid black 2px;
}

.squad_logo{
	border: dashed 1px red;
	width: 20%;
	height:100%;
	float: left;
	margin-right: 20px
}

.squad_name{
	border: dashed 1px blue;
	width: 75%;
	height: 100%;
	float: left;
}



