/*******************
UTILITIES
********************/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	background-color: #ffff7f;
}

body{
	height: 100%;
	width: 100%;
}

.canvas{
	height: 100%;
	width: 100%;
}

a{
	text-decoration: none;
	color: black;
}

ul li {
	display: inline;
}

/*For testing*/
.none{
	display: none;
}

/*---------------------------------------------------------------------------------
MAIN PAGE - GROUPS AND SQUADS
---------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
   Div: Groups Canvas - Contains Back gound image - zindex 100 = main page
---------------------------------------------------------------------------------*/

.groups_canvas{
	width: 100%;
	min-height: 100%;
	position: relative;
	top: 0;
	left: 0;
	/*outline: solid 2px black;*/
	z-index: 100;
	margin: 0;
	
	/*Set the background image*/
	background: url(../images/wcbg2.jpg) no-repeat; 
  	-webkit-background-size: 1366px 643px;
  	-moz-background-size: 1366px 643px;
  	-o-background-size: 1366px 643px;
  	background-size: 1366px 643px;


  	/*Background opacity*/
}

/*---------------------------------------------------------------------------------
   Div: Groups Container - Groups
---------------------------------------------------------------------------------*/
/*Container for groups that spans the whole page*/
.groups_container{
	width: 100%;
	min-height: 643px; /*578px with 10% heading*/
	position: relative;
	display: block;
	top: 0px;/*Heder height 65px*/
	left: 0;
	outline: solid black 2px;
	padding: 10px;
}

/*---------------------------------------------------------------------------------
   Groups 
---------------------------------------------------------------------------------*/
/*Generic Outline for groups A to H*/
.group{
	position: absolute;
	display: inline-block;
	/*border: solid red 2px;*/
	width: 380px;
	height: 145px;

}

#groupA{
	
	top: 20px;
	left: 20px;
}

#groupB{
	top: 175px;
	left: 20px;
}

#groupC{
	top: 330px;
	left: 20px;
}

#groupD{
	top: 485px;
	left: 20px;
}

#groupE{
	
	top: 20px;
	right: 20px;
}

#groupF{
	top: 175px;
	right: 20px;
}

#groupG{
	top: 330px;
	right: 20px;
}

#groupH{
	top: 485px;
	right: 20px;
}

/*---------------------------------------------------------------------------------
   Inside Groups Div
---------------------------------------------------------------------------------*/
/*---------------------------------------
   Groups Head A- H
----------------------------------------*/
/*change class name back after testing*/
.groupName{
	height: 35px;
	width: 100%;
	border-bottom: 1px solid green;
	color: white;
	padding: 5px;
	text-align: center;
}

/*Overall text for group*/
.groupName > p{
	font-size: 1.4em;
	color:green;
	font-weight: 700;
	font-family: 'Merienda', cursive;
}

/*May need to make an id*/
.groupName > p > span{
	color: darkblue;
}

/*-----------------------------------------
   Groups Body: Li positioning ;
-------------------------------------------*/

/*table body and ul*/
.group_teams{
	height: 120px;
	width: 100%;
	/*border: solid 2px red;*/
	position: relative;
}

/*overall style for team li*/
.team{
	width: 50%;
	height: 55px;
	/*border: solid 2px blue;*/
	position: absolute;
}

/*Hover styling*/
.team:hover{
	cursor: pointer;
	border-radius: 20px;
	border: 1px solid darkgrey;
	background: #cce5cc;
}

/*team one li position*/
.t1{
	top: 3px;
	left: 0;
}

/*team two li position*/
.t2{
	top: 3px;
	right: 0;
}

/*team three li position*/
.t3{
	bottom: 0px;
	left: 0;
}

/*team 4 li position*/
.t4{
	bottom: 0px;
	right: 0;
}

/*-----------------------------------------
   Groups Body: Team logo and names ;
-------------------------------------------*/
/*Set the dimensions and position for the team logo img*/
.team_Logo{
	width: 55px;
	height: 45px;
	margin: 3px 0 0 5px;
	display: inline;
	/*border: dashed 2px black;*/
	float: left;
}


/*Set the dimensions and position for the team name paragraph*/
.teamname{
	display: inline;
	height: 45px;
	width: 120px;
	margin: 3px 0 0 3px;
	/*border: dashed 2px red;*/
	float: right;
	font-size: 1em;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	color: darkblue;
	font-family: 'Merienda', cursive;
}

/*---------------------------------------------------------------------------------
  SECOND PAGE - TEAM SQUADS, PLAYERS, and PLAYER STATS - Z-index = 75
---------------------------------------------------------------------------------*/
.squad_canvas{
	width: 100%;
	min-height: 100%;
	z-index: 75;
	position: absolute;
	top: 0;
	left: 0;
	/*border: solid 2px black;*/
}

.squad_container{
	width: 100%;
	min-height: 643px;
	/*position: relative;
	top: 0;
	left: 0;*/
	/*outline: solid black 2px;*/
	padding: 10px;
}

/*-------------------------------------------------------------------------------
  Team Header : contains logo and team name 
---------------------------------------------------------------------------------*/
.squad_header{
	/*position: relative;*/
	width: 50%;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	/*top: 0;
	left: 0;*/
	border-radius: 25px;
	border: solid green 2px;
}

.squad_logo{
	/*border: dashed 1px red;*/
	width: 15%;
	height:100%;
	float: left;
	margin-right: 20px
}

.squad_name{
	/*border: dashed 1px blue;*/
	width: 75%;
	height: 100%;
	float: left;
	text-align: center;
	padding: 20px 5px;
	font-size: 2.45em;
	text-transform: uppercase;
	font-weight: 700;
	color: darkblue;
	font-family: 'Merienda', cursive;
}


/*-------------------------------------------------------------------------------
  Team List : contains all players pictures
---------------------------------------------------------------------------------*/
/*contains all players pictures*/
.squadPlayers_container{
	width: 100%;
	min-height: 500px;
	position: relative;
	top: 20px;
	left: 0;
	border: solid 1px black;
}

/*generic player div style*/
.player_div{
	width: 150px;
	height: 150px;
	position: absolute;
	/*border: solid 1px blue;*/
}

/*p0 - 7*/
.top_row{
	top: 0;
}

/*p8 - 15*/
.middle_row{
	top: 166px;/*includes 16px margin top*/
}

/*p16 - 22*/
.bottom_row{
	top: 332px;
}

/*individual player div positioning*/
/*horizaonal position for column*/
.col_1{
	
	left: 16px;
}

.col_2{
	left: 182px;/*includes 16px left margin  182px*/
}

.col_3{
	left: 348px;
}

.col_4{
	left: 514px;
}

.col_5{
	left: 680px;
}

.col_6{
	left: 846px;
}

.col_7{
	left: 1012px;
}

.col_8{
	left: 1178px;
}

/*-----------------------------------------
  INSIDE THE PLAYER DIV
-------------------------------------------*/

.img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 100%;/*changed from auto*/
  height: 80%;
  overflow: hidden;
  border: solid 2px darkblue;
  cursor: pointer;
}

.player_name{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
	left: 0;
	/*border: dashed 1px red;*/
	font-size: .7em;
	text-align: center;
	padding: 6px 2px;
	font-weight: 700;
	color: darkblue;
	font-family: 'Merienda', cursive;
	border: solid 2px green;
	border-radius: 5px;
}

/*-----------------------------------------
  INSIDE THE .img div - THE OVERLAY
-------------------------------------------*/

.img > .player_img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
 /* border: solid 1px red;*/
  height: 100%;
}

.overlay{
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: all 0.5s;
}

/*positions the club logo*/
.player_clubLogo{
/*	border: dashed 1px blue;*/
	position: absolute;
  	top: 5px;
  	left: 50px;
  	z-index: 100;
  	width: 45px;
  	height: 45px;
  	display: block;
}

.player_cpPos {
  width: 100%;
  
 /* padding: 3px 2px;*/
  display: block;
  position: absolute;
  left: 0;
  /*border: dashed 1px red;*/
  
  color: white;
  font-family: 'Merienda', cursive;
  text-align: center;
}

.player_club{
  top: 52px;
  height: 30px;
}

.player_position{
  top: 90px;
  height: 20px;
  color: yellow;
}

/* =======================================
  EFFECT 1 - SLIDE IN TOP
========================================== */

.overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  
  /*Smooth transition on mouseleave*/
  -webkit-transition: height 1s, ease-in-out, .5s;
  -moz-transition: height, 1s, ease-in-out, .5s;
  -o-transition: height, 1s, ease-in-out, .5s;
  transition: height, 1s, ease-in-out, .5s;
}

/*When .hover class added to parent the 
overlay height gets set to 100% */
.img.hover .overlay {
  height: 100%;
  
  /*Smooth transition on mouseenter*/
  -webkit-transition: height 1.5s, ease-in-out, 1s;
  -moz-transition: height, 1.5s, ease-in-out, 1s;
  -o-transition: height, 1.5s, ease-in-out, 1s;
  transition: height, 1.5s, ease-in-out, 1s;
}


/*-----------------------------------------
 	BACK TO MAIN SCREEN BUTTON
-------------------------------------------*/

.go_back{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	background-color: #4cb85e;
	color: white;
	border: solid 2px darkblue;
	top: 350px;
	left: 1200px;
	padding-top: 40px; /*Pushes text down to center align*/
	text-align: center;
	font-family: 'Merienda', cursive;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}

.go_back:hover{
	color: yellow;
	border: 4px solid darkgrey;
}


/*-----------------------------------------
  LOADING SPINNER
-------------------------------------------*/

@import url(http://weloveiconfonts.com/api/?family=maki);

[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

/*Animation*/
.maki-soccer{
    font-size: 2em;
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
